.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat {
	z-index: 50;
    display: flex;
    flex-direction: column;

    position: absolute;
	top: 4rem;
	left: 1rem;
	width: 24rem;
    height: 12rem;
    background: #00000077;
}

.chat h2 {
    margin: 0 0 0.5rem 0;
}

.active {
    background: #0e0;
    color: #000;
}

.active:hover {
    background: #0e0;
}

.form {
    width: 100%;
    display: flex;
    flex: 0 0 2rem;
}

.form input {
    display: block;
    flex: 1;
    margin: 0;
    font-family: monospace;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1;
}

.form > input[type=text] {
    border: 1px solid #090;
    background: #000000aa;
    color: #0f0;
    outline: 0;
    padding: 0 0.5rem;
}

.form > input[type=text]::placeholder {
    color: #060;
}

.form > input[type=submit] {
    flex: 0;
    border: 1px solid #090;
    border-left: 0;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.log {
    flex: 1;
    font-size: 12px;
    line-height: 1.5;
    overflow-y: auto;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 1rem;
}

.log::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #000;
}

.log::-webkit-scrollbar-thumb {
    background: #030;
}

.notice {
    font-style: italic;
}

.message {
    font-style: normal;
}
