.chat {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
	border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.chat h2 {
    line-height: 1;
    font-size: 1rem;
    margin: 0;
    flex: 0;
}

.tabs {
	text-align: center;
	margin-bottom: 1rem;
}

.active {
    background: #0e0;
    color: #000;
}

.active:hover {
    background: #0e0;
}

.log {
    flex: 1;
    font-size: 12px;
    line-height: 1.5;
    overflow-y: auto;
	margin-bottom: 1rem;
    white-space: pre-wrap;
    word-break: break-word;
}

.form {
    width: 100%;
    display: flex;
    flex: 0 0 3rem;
}

.form input {
    display: block;
    flex: 1;
    margin: 0;
    font-family: monospace;
    padding: 0.5rem;
    font-size: 1rem;
}

.form input[type=text] {
    border: 0;
    outline: 0;
}

.form input[type=submit] {
    flex: 0;
    margin-left: 1rem;
}
