.bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	z-index: 50;
	padding: 2rem;
	align-items: center;
	/* justify-content: space-around; */
	opacity: 0.95;
}

.bar > * {
	margin-right: 1rem;
	flex: 0 1 200px;
	/* box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5); */
}

.bar > *:last-child {
	margin-right: 0rem;
}

.spellBtn {
	flex: 0 0 66px;
	width: 66px;
	height: 66px;
	outline: 0;
	border: 1px solid #0f0;
	background: none;
	background-size: 64px 64px;
	background-position: center center;
	image-rendering: pixelated;
}

.active {
	border-width: 4px;
	flex: 0 0 72px;
	width: 72px;
	height: 72px;
}