.bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	z-index: 50;
	padding: 2rem;
	align-items: flex-start;
	/* justify-content: space-around; */
	opacity: 0.95;
}

.bar > * {
	margin-right: 1rem;
	flex: 0 1 200px;
	/* box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5); */
}

.bar > *:last-child {
	margin-right: 0rem;
}