.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    overflow: hidden;
	background: url('../assets/sprites/crosshair.png') center center no-repeat;
}

.box {
    border: 2px solid #0f0;
    position: absolute;
    background: rgba(0, 255, 0, 0.1);
    padding: 2rem;
    color: #fff;
}