.toggle {
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
}

.invItem {
    margin: 0.25rem 1rem;
    display: flex;
    width: calc(100% - 2rem);
    justify-content: stretch;
    overflow: visible;
    position: relative;
}

.invItem > p {
    margin: 0;
    flex: 1;
    white-space: pre-wrap;
    word-break: break-word;
    cursor: default;
}

.invAction {
	font: inherit;
    flex: 0;
    margin: 0rem;
    margin-left: 0.25rem;
	color: #0f0;
	background: #010;
	border: 1px solid #0f0;
	font-size: 0.75rem;
	line-height: 1;
	padding: 3px;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
    height: 100%;
}

.invAction:hover {
    background: #040;
}

.stats {
    position: absolute;
    top: 100%;
	background: #010;
	border: 1px solid #0f0;
	font-size: 1rem;
	padding: 0.5rem;
    z-index: 10;
    width: 100%;
    margin: 0;
}

.stats > li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.quality1 {
    color: white;
}

.quality2 {
    color: blue;
}

.quality3 {
    color: limegreen;
}

.quality4 {
    color: blueviolet;
}

.quality5 {
    color: orange;
}

.quality6 {
    color: red;
}