.header {
	position: fixed;
	left: 0.5rem;
	right: 0.5rem;
	top: 0.5rem;
	height: 3rem;
	display: flex;
	padding: 0;
	color: #0f0;
	/* background: #060; */
	border: 8px solid transparent;
	border-image: url('../../assets/sprites/small-display.png') 8;
	border-bottom: 0;
	z-index: 50;
	align-items: center;
	padding: 0 0.5rem 0.5rem 0.5rem;
}

.header h1 {
	margin: 0;
	font-size: 1rem;
	line-height: 1;
	font-weight: normal;
	flex: 1;
	text-align: center;
}

.status, .auth {
	width: auto;
	text-align: right;
	line-height: 1;
}

.status button, .status a, .auth button, .auth a {
	padding: 0.125rem 0.5rem;
}