html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	background: #000;
	font-family: monospace;
	font-weight: 400;
	font-size: 16px;
	color: #0f0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
}

* {
	box-sizing: border-box;
}

.app {
	/* margin: 0.5rem; */
	height: 100vh;
}

.app > div {
	height: 100%;
	display: flex;
	width: 100%;
	flex-direction: column;
}

.container {
	display: flex;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	align-items: stretch;
	flex-direction: column;
}

.gameArea {
	flex: 1;
	height: 100%;
	overflow: hidden;
	user-select: none;
	position: relative;
}

.footer {
	flex: 0 0 4rem;
	display: flex;
	padding: 0;
	color: #0f0;
	/* background: #060; */
	border: 8px solid transparent;
	border-image: url('../assets/sprites/small-display.png') 8;
	border-top: 0;
	z-index: 50;
	align-items: center;
	padding: 0 0.5rem 0.5rem 0.5rem;
}

.center {
	display: flex;
	flex: 1;
	border-left: 1px solid #0f0;
	border-right: 1px solid #0f0;
}
